/* Navigation Bar Styling */

.navbar {
    background:#fff;
}

.nav-link,
.navbar-brand {
    color: #333;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.15rem;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #f0840a;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Header Styling */

#header {
    text-align: center;
    margin: -2.5em auto 0.5em auto;
	padding: 1em;
	position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.7rem;
    font-weight: 600;
    color: #000;
}

/* Main Body */

body {
    padding: 0;
    margin: 0;
    background: #f8f8f8;
    font-family: 'Source Sans Pro', sans-serif;
}

.features {
	margin: 6em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.45rem;
	font-weight: 600;
	margin-bottom: 20px;
    text-align: center;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.features img {
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
    position: relative;
    top: 0;
    transition: top ease 0.4s;
}

.features img:hover{
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    top: -7px;
  }

.features li {
    font-size: 1.2rem;
    color: #333;
}

a {
	text-decoration: none;
	color: inherit;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #f0840a;
}